.text-icon {
    height: 1.1em;
    margin-bottom: -0.1em;
}

.upper-container {
    font-family: "Amarante", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.19;
    font-size: 7cqw;
    text-align: center;
}

.middle-container {
    flex: 0.5;
    display: flex;
    justify-content: space-between;
}

.left-column {
    display: flex;
    flex-direction: column;
    flex: 0.2;
}

.cost {
    display: flex;
    background-image: linear-gradient(90deg, #46342f,     #46342f 60%, #ffffff00);
    height: 12cqw;
    justify-content: flex-end;
    align-items: center;
    gap: 2cqw;
    padding-left: 12cqw;
    padding-right: 2cqw;
}

.cost-icon {
    max-height: 70%;
    min-height: 50%;
    max-width: 8cqw;
}

.habitats {
    margin-top: 2cqw;
    display: flex;
    flex-direction: column;
    gap: 1cqw;
    height: 31cqw;
}

.habitats > * {
    height: 9cqw;
    width: 12cqw;
    border: 1px solid black;
    border-left: 0px;
    border-top-right-radius: 2cqw;
    border-bottom-right-radius: 2cqw;
} 

.crimson-habitat {
    background-color: #b25553;
}


.golden-habitat {
    background-color: #f1c749;
}


.amethyst-habitat {
    background-color: #a47d9f;
}

.number {
    font-size: 5cqw;
    font-family: "Acumin Pro Condensed", sans-serif;
    text-align: end;
    width: 12cqw;
}

.right-column {
    display: flex;
    flex-direction: column;
    flex: 0.4;
    min-width: 40cqw;
    overflow: hidden;
}

.personality {
    margin-top: auto;
    width: 110%;
    height: auto;
    z-index: -2;
}

.lines-image {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.lower-container {
    flex: 0.31;
    font-size: 6cqw;
}

.VP {
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.VP-value {
    position: absolute;
    top: -5%;
    left: 4%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7.5cqw;
    font-weight: 600;
    font-family: "Acumin Pro Condensed", sans-serif;
    -webkit-text-stroke: 0.005em white;
}

.size {
    font-size: 6cqw;
    font-weight: 600;
    font-family: "Acumin Pro Condensed", sans-serif;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    line-height: 0.8em;
}

.eggs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2cqw;
    width: 22cqw;
    margin: 2cqw auto 0 auto;
    flex-wrap: wrap;
}

.egg-icon {
    width: 8cqw;
}

.card {
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    aspect-ratio: 57 / 87;
    border: 1px solid black;
    border-radius: 1cqw;
    background-color: white;
    background-image: url("../assets/card-background.png");
    background-size: cover;
    width: 100%;
}
  