.dragon-card {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  aspect-ratio: 57 / 87;
  border: 1px solid black;
  border-radius: 1cqw;
  background-color: white;
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden;

  .text-icon {
    height: 1.1em;
    margin-bottom: -0.1em;
  }

  .text-icon + .text-icon {
    margin-left: 0.1em;
  }

  .upper-container {
    font-family: "Amarante", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.19;
    font-size: 7cqw;
    text-align: center;
    padding: 0 15cqw;
  }

  .cost {
    display: flex;
    background-image: linear-gradient(90deg, #46342f, #46342f 60%, #ffffff00);
    height: 12cqw;
    justify-content: flex-end;
    align-items: center;
    gap: 2cqw;
    padding-left: 12cqw;
    padding-right: 2cqw;

    .cost-icon {
      max-height: 70%;
      min-height: 50%;
      max-width: 8cqw;
    }
  }

  .middle-container {
    flex: 0.515;
    display: flex;
    justify-content: space-between;

    .left-column {
      display: flex;
      flex-direction: column;
      flex: 0.2;

      .habitats {
        margin-top: 2cqw;
        display: flex;
        flex-direction: column;
        gap: 1cqw;
        height: 31cqw;

        .crimson-habitat {
          background-color: #b25553;
        }

        .golden-habitat {
          background-color: #f1c749;
        }

        .amethyst-habitat {
          background-color: #a47d9f;
        }
      }

      .habitats > * {
        height: 9cqw;
        width: 12cqw;
        border: 1px solid black;
        border-left: 0px;
        border-top-right-radius: 2cqw;
        border-bottom-right-radius: 2cqw;
      }

      .number {
        font-size: 5cqw;
        font-family: "Acumin Pro Condensed", sans-serif;
        text-align: end;
        width: 12cqw;
      }
    }

    .right-column {
      display: flex;
      flex-direction: column;
      flex: 0.4;
      min-width: 40cqw;
      overflow: hidden;

      .VP {
        position: relative;
        width: 30%;
        margin-left: auto;
        margin-right: auto;

        .VP-value {
          position: absolute;
          top: -3%;
          left: 3%;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 8cqw;
          font-family: "Acumin Pro Condensed", sans-serif;
          font-weight: bolder;
          text-shadow: 0px 0px 0.18em white;
        }
      }

      .per-text {
        text-align: center;
        font-size: 4cqw;
        font-family: "Acumin Pro Condensed", sans-serif;
        font-weight: normal;
        font-style: italic;
        margin-top: -1cqw;
        margin-bottom: 1cqw;
      }

      .size {
        font-size: 6cqw;
        font-weight: 600;
        font-family: "Acumin Pro Condensed", sans-serif;
        width: min-content;
        margin-left: auto;
        margin-right: auto;
        line-height: 0.8em;
      }

      .eggs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2cqw;
        width: 22cqw;
        margin: 2cqw auto 0 auto;
        flex-wrap: wrap;

        .egg-icon {
          width: 8cqw;
        }
      }
    }
  }

  .lower-container {
    flex: 0.295;
    font-size: 6.1cqw;
    padding: 1.8cqw 6cqw 1.8cqw 6cqw;
    line-height: 1em;
    display: flex;

    .ability {
      display: flex;
      font-family: "Acumin Pro Condensed", sans-serif;
      width: 100%;
      .ability-icon {
        width: 12cqw;
        height: 12cqw;
        margin-right: 2cqw;
      }

      .ability-hatchling {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .hatchling-ability-icon {
          width: 8cqw;
          height: 8cqw;
          margin-right: 2cqw;
          align-self: center;
        }

        .hatchling-ability-text {
          flex: 1;
        }
      }

      .divider {
        width: 100%;
        height: 0px;
        border-top: 1px dotted #444444;
        margin: 0.5cqw 0;
      }

      .highlight-aggressive {
        color: white;
        background: linear-gradient(
          0deg,
          transparent 20%,
          #f07422 20%,
          #f07422 93%,
          transparent 93%
        );
      }

      .highlight-playful {
        color: white;
        background: linear-gradient(
          0deg,
          transparent 20%,
          #df579f 20%,
          #df579f 93%,
          transparent 93%
        );
      }

      .highlight-helpful {
        color: white;
        background: linear-gradient(
          0deg,
          transparent 20%,
          #84c665 20%,
          #84c665 93%,
          transparent 93%
        );
      }

      .highlight-shy {
        color: white;
        background: linear-gradient(
          0deg,
          transparent 20%,
          #81cbf1 20%,
          #81cbf1 93%,
          transparent 93%
        );
      }

      .vp-span {
        font-weight: 600;
        padding-left: 0.4em;
        padding-right: 0.3em;
        white-space: nowrap;
        position: relative;
      }

      .vp-span .text-icon {
        width: 1.35em;
        height: 1.35em;
        position: absolute;
        top: 42%;
        left: 48%;
        transform: translate(-45%, -50%);
      }

      .fledgling-ability {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .fledgling-resource-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5em;
        padding-bottom: 0.3em;
        border-bottom: solid 0.01em;

        .adventurer-icon {
          margin-right: 0.2em;
          flex-shrink: 0;
          height: 1.6em;
          max-width: 1.5em;
          max-height: 1.6em;
        }

        .right-aligned-icons {
          display: flex;
          align-items: center;
          gap: 0.2em;
          flex: 1;
          justify-content: flex-end;
          position: relative;
          font-size: 1.3em;

          .resource-chain {
            display: flex;
            align-items: center;
            gap: 0.2em;
            position: relative;

            .resource-item {
              background: #46342f;
              border: 1px solid black;
              border-radius: 0.2em;
              padding: 0.2em;
              width: 1em;
              height: 1em;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              z-index: 2;
              .text-icon {
                max-height: 1em;
                max-width: 1em;
              }
            }
          }

          .fletching-arrow {
            width: 1em;
            height: 1em;
            position: relative;
            z-index: 3;
            margin-left: -0.35em;
            margin-right: -0.5em;
          }
        }
      }

      .fledgling-effect-line {
        flex: 1;
        display: flex;
        align-items: flex-start;
        gap: 0.3em;

        .ability-type-icon {
          margin-right: 0.2em;
          flex-shrink: 0;
          height: 1.6em;
          max-width: 1.5em;
          max-height: 1.6em;
        }

        .effect-text {
          flex: 1;
          display: inline;
        }
      }
    }
  }
}
