@font-face {
  font-family: "Acumin Pro Condensed";
  src: url("assets/fonts/Acumin\ Pro\ Condensed\ Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Acumin Pro Condensed";
  src: url("assets/fonts/Acumin\ Pro\ Condensed\ SemiBold.ttf");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Acumin Pro Condensed";
  src: url("assets/fonts/Acumin\ Pro\ Condensed \Light.otf");
  font-weight: lighter;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Acumin Pro Condensed", Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(assets/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
